$bg-primary: #2d3142;
$bg-secondary: #3c4055;
$fg-primary: #47db56;
$text-primary: #ffffff;
$text-secondary: #bebebe;

$font-xs: 1.2rem;
$font-s: 1.6rem;
$font-m: 2.1rem;
$font-l: 3rem;
$font-xl: 3.8rem;

$border: 1px solid $text-secondary;

$padding-s: 0.6rem;
$padding-m: 1rem;
$padding-l: 2rem;

$width-max: 1000px;
$width-top: 355px;
$width-result: 395px;
